<html>

<head>
  <title>Twilio Client</title>
  <script type="text/javascript" src="/js/lib/twilio.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js "></script>
  <script type="text/javascript" src="/js/lib/angular.min.js "></script>
  <script type="text/javascript" src="/js/twilio-client.js"></script>
  <script type="text/javascript" src="/js/lib/v3.3.7bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/lib/font-awesome.js"></script>

  <link href="/css/client.css" type="text/css" rel="stylesheet" />
  <link href="/css/v4.0.0alphabootstrap.min.css" type="text/css" rel="stylesheet" />
  <!--<link href=" " type="text/css" rel="stylesheet" />-->

</head>

<body>
  <div class="container">
    <div class="agent-container" ng-app="agent">
      <div ng-controller="agentLoginController">
        <div>
          <div class="agent-console">
            <div class="agent-room">
              <div class="user-icon">
                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
              </div>

              <div class="panel-group agent-work" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" ng-show="!loggedIn">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Agent Login
                      </a>
                    </h4>
                  </div>

                  <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <div class="twilio-client">
                        <div class="input-group" ng-show="notLogin">
                          <input type="text" class="form-control" placeholder="Agent Name.." id="workerName" ng-model="workerName">
                          <span class="input-group-btn">
                            <button class="btn btn-default go" ng-click="initiateTwilio()" type="button">Go!</button>
                         </span>
                        </div>
                        <div>{{errorMessage}} </div>
                        <div ng-show="!notLogin">
                          {{log}}
                          <span id="log"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="panel panel-default" ng-show="loggedIn">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Work State
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <button type="button" class="btn btn-outline-success ">Available</button>
                      <button type="button" class="btn btn-outline-warning ">AUX</button><br>
                      <button type="button" class="btn btn-outline-danger ">BUSY</button>
                      <button type="button" class="btn btn-outline-info ">ACW</button>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default" style="margin-top: 10px;" ng-show="loggedIn">

                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Inbound Work control
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <div class="tab-control">
                        <div class="tabbable">
                          <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" href="#call" data-toggle="tab">Call</a></li>
                            <li class="nav-item"><a class="nav-link" href="#email" data-toggle="tab">Email/SMS</a></li>
                            <li class="nav-item"><a class="nav-link" href="#webchat" data-toggle="tab">Webchat</a></li>
                            <li class="nav-item"><a class="nav-link" href="#video" data-toggle="tab">Video</a></li>
                          </ul>

                          <div class="tab-content">
                            <div id="call" class="tab-pane fade in active">
                               <div  ng-show="!inCall">
                                 Waiting for a call
                              </div>
                              <div class="" ng-show="inCall">
                              <div class="col-xs-6">
                                <div>Inbound Call</div>
                                <div>+915655656565</div>
                                <div class="options">
                                  <i class="fa fa-phone fa-2x col-xs-3 icon-answer p-0" ng-click="accept()" title="Answer">
                                        
                                      </i>
                                  <i class="fa fa-phone-square fa-2x col-xs-3 icon-reject" ng-click="reject()" title="Reject">
                                        
                                      </i>
                                </div>
                              </div>
                              <div class="col-xs-6">
                                <div ng-repeat="customer in customerDetails ">

                                  <div class="p-0 col-sm-12 bg-color">
                                    <div class="col-xs-2">
                                      <i class="fa fa-user-o fa-2x " aria-hidden="true"></i>
                                    </div>
                                    <div class="p-0 col-xs-9 ">
                                      <h6>{{customer.fullname}}</h6>
                                      <h6><a ng-href="{{customer.url}}" target="_blank">{{customer.accountnumber}}</a></h6>
                                    </div>

                                  </div>


                                </div>
                              </div>
                              </div>
                            </div>
                            <!--call ended-->
                            <div id="email" class="tab-pane fade">
                              <h3>Email/SMS</h3>
                              <p>Email/SMS content</p>
                            </div>
                            <div id="webchat" class="tab-pane fade">
                              <h3>Web Chat</h3>
                              <p>Web-chat</p>
                            </div>
                            <div id="video" class="tab-pane fade">
                              <h3>Video</h3>
                              <p>Video</p>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

              </dib>
            </div>
          </div>
        </div>
      </div>
</body>

</html>